<h3 class="text-2xl font-semibold text-primary font-geist mb-4">
  {{ question()?.text }}
</h3>

<!-- Options -->
<div class="flex flex-col gap-2.5 mb-4">
  @for (answer of question()?.answers; track answer.id) {
    <label
      [for]="answer?.id"
      class="flex items-center gap-2.5 p-4 cursor-pointer transition-colors hover:bg-gray-100"
      [class.bg-gray-50]="selectedAnswer() !== answer.id"
      [class.bg-gray-100]="selectedAnswer() === answer.id"
    >
      <p-radioButton
        [inputId]="answer.id"
        [name]="question()?.id || ''"
        [value]="answer.id"
        [(ngModel)]="selectedAnswer"
      />
      {{ selectedAnswer() }}
      <span class="text-black font-geist text-sm">{{ answer?.text }}</span>
    </label>
  }
</div>
