<a
  [routerLink]="`/diplomas/exams/${data()?.id}`"
  class="group relative block h-112 p-2.5 bg-cover bg-center bg-no-repeat"
  [style.background-image]="`url(${data()?.image})`"
>
  <div class="relative overflow-hidden pb-2.5 h-full w-full">
    <div
      class="h-fit p-2.5 absolute bottom-2.5 transition duration-600 ease-in-out bg-[#155DFCBF] backdrop-blur-md text-white font-geist translate-y-[calc(100%-85px)] group-hover:translate-y-0"
    >
      <p class="font-semibold text-xl mb-1">{{ data()?.title }}</p>
      <p class="font-regular text-sm">{{ data()?.description }}</p>
    </div>
  </div>
</a>
