<form [formGroup]="passwordForm" (ngSubmit)="submitHandler()">
  <div class="flex flex-col gap-4">
    <app-field
      controlName="currentPassword"
      label="Current Password"
      placeholder="********"
      type="password"
      [errorMessages]="{
        required: 'Your password is required',
        pattern: 'Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special',
      }"
    />

    <div class="border border-gray-100 mt-2"></div>
    <app-field
      controlName="newPassword"
      label="New Password"
      placeholder="********"
      type="password"
      [errorMessages]="{
        required: 'Your password is required',
        pattern: 'Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special',
      }"
    />
    <app-field
      controlName="confirmPassword"
      label="Confirm New Password"
      placeholder="********"
      type="password"
      [errorMessages]="{
        required: 'Your password is required',
        mismatch: 'Passwords do not match',
      }"
    />
  </div>

  <!-- toast -->
  @if (displayToast()) {
    <app-toast (toastEvent)="displayToast.set($event)" [message]="errMsg()" />
  }

  <!-- submit button -->
  <div class="mt-10">
    <app-button label="Update Password" type="submit"></app-button>
  </div>
</form>
