<div class="lg:min-w-113 min-w-80 p-5">
  <h1 class="h1 mb-1.5">Create Account</h1>
  <p class="blue-heading mb-8">Create a strong password</p>
  <form [formGroup]="passwordForm" (ngSubmit)="submitHandler()">
    <div class="flex flex-col gap-4">
      <app-field
        controlName="password"
        label="Password"
        placeholder="********"
        type="password"
        [errorMessages]="{
          required: 'Your password is required',
          pattern:
            'Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special',
        }"
      />
      <app-field
        controlName="rePassword"
        label="Confirm Password"
        placeholder="********"
        type="password"
        [errorMessages]="{
          required: 'Your password is required',
          mismatch: 'Passwords do not match',
        }"
      />
    </div>

    <!-- toast -->
    @if (displayToast()) {
      <app-toast (toastEvent)="displayToast.set($event)" [message]="errMsg()" />
    }

    <!-- submit button -->
    <div class="mt-10">
      <app-button label="Create Account" type="submit"></app-button>
    </div>
  </form>
</div>
