<div class="flex flex-col">
  <label [for]="label()" class="font-geist text-base font-medium">{{ label() }}</label>
  <input
    pInputText
    [formControlName]="controlName()"
    [id]="label()"
    [type]="type()"
    [placeholder]="placeholder()"
    class="border border-gray-200 rounded-none placeholder:text-gray-400 placeholder:text-sm placeholder:font-geist py-3.5 px-2.5"
    [class]="{ 'border-red-600': showError }"
  />
  @if (showError) {
    @for (key of errorKeys; track key) {
      <app-input-message>{{ errorMessages()[key] }}</app-input-message>
    }
  }
</div>
