<header>
  <app-breadcrumb [items]="items" />
  <div class="grid grid-cols-[auto_1fr] items-center justify-center gap-2.5 p-6">
    <app-back-button />

    <app-title
      ><img src="/assets/icons/book-open-check-white.svg" alt="granduation cap icon" />{{
        examsList()[0]?.diploma?.title || ''
      }}
      Exams</app-title
    >
  </div>
</header>
<!-- exams -->
<ul class="m-6 flex flex-col gap-4">
  @for (exam of examsList(); track exam.id) {
    <app-exam-card [data]="exam" />
  } @empty {
    <app-empty-state>No Exams Yet!</app-empty-state>
  }
</ul>
