<p-dialog
  [modal]="true"
  [dismissableMask]="true"
  [(visible)]="visible"
  [style]="{ width: '36rem' }"
  styleClass="rounded-none email-dialog p-8"
>
  <button
    class="absolute top-1.5 right-1.5 p-2 cursor-pointer"
    aria-label="close dialog"
    (click)="visible.set(false)"
  >
    <img src="/assets/icons/close.svg" alt="close icon" />
  </button>

  <div class="flex flex-col items-center text-center">
    <img class="mb-9" src="/assets/icons/danger.svg" alt="danger sign" />
    <p class="text-red-600 font-geist text-lg font-medium mb-2.5">
      Are you sure you want to delete your account?
    </p>
    <p class="text-gray-500 font-geist text-sm font-normal mb-20">
      This action is permanent and cannot be undone.
    </p>
    <div class="flex gap-2.5 w-full">
      <app-button
        label="Cancel"
        variant="gray"
        class="w-full"
        (click)="closeDialogHandler()"
      ></app-button>
      <app-button
        label="Yes, delete"
        variant="red"
        class="w-full"
        (click)="DeleteAccountHandler()"
      ></app-button>
    </div>
  </div>
</p-dialog>
