/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-geist: 'Geist Mono', monospace;
  --font-inter: 'Inter', sans-seri;
  --color-primary: #155dfc;
  --color-black: #374151;
}

@utility h1 {
  @apply font-bold text-3xl font-inter;
}
